@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body {
    color: #fff;
    background: #000;
    overflow: hidden;
}

.header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #000);
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
    text-align: center;
}

.navbar a:hover {
    color: #fff;
    text-shadow: 10px 5px 15px rgb(29, 97, 47)
}

.main {
    min-height: 100vh;
    background: url('../images/background.jpg') no-repeat;
    backdrop-filter: blur(0px);
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .3s ease;
}

.main.active {
    filter: blur(7px);
    pointer-events: none;
}

.container {
    width: 200%;
    display: flex;
    height: 100vh;
}
